@import './reset.css';
html {
  font-size: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.25;
}

body {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
}

.a11y-hidden {
  position: absolute;
  left: auto;
  height: 1px;
  width: 1px;
  top: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
