


.event__button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.1875rem;
    width: 100%;
    min-width: 12.5rem;
    height: 7.5rem;
    margin: 0;
    padding: 0.875rem;
    border-radius: 1.25rem;
    border: none;
    background: #F7F7F7;
    text-align: left;
    transition: .25s ease-in-out;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    appearance: none;
}

.event_slim .event__button {
    height: 6.25rem;
}

.event__button:hover {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.event__icon {
    position: absolute;
    top: 0.875rem;
    left: 0.875rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.event__icon_temp {
    background-image: url(/icon_temperature.svg);
}

.event__icon_temp2 {
    background-image: url(/icon_temperature_2.svg);
}

.event__icon_light {
    background-image: url(/icon_sun.svg);
}

.event__icon_light2 {
    background-image: url(/icon_sun_2.svg);
}

.event__icon_schedule {
    background-image: url(/icon_scheduled.svg);
}

.event__title {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #333333;
}

.event__subtitle {
    font-size: .75rem;
    color: #858585;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .event-grid {
        display: flex;
        padding-bottom: 0.3125rem;
        overflow: auto;
        scrollbar-width: none;
    }

    .event-grid::-webkit-scrollbar {
        display: none;
    }
}